.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.radio{
  margin-left: 15px;
}


.navlink{
  text-decoration: none;
  color: #ffffff!important;
  margin: 10px;
  font-weight: bold;
}

.navlink:hover{
  color: #f5f0f0;
  text-decoration: underline;
  transition: 0.3s all ease-in;
 
}


.cardd{
  display: inline-flex;
  flex-direction: column;
  float: left;
  width: 18rem;

 
}

input[type="radio" i]{
  margin: 5px -5px 0px 15px;
}

.homehead{
  text-align: center;
  margin: 15%  auto;
  translate: (-50%, -50%);
}

.po{
  text-align: center;
  line-height: 3rem;
}

.blogs{
  margin-top: 100px!important;
  text-align: center;
 
}

.blogs h4{
  font-size: 20px;
  color: #282c34!important;

}

.blogs p{
  font-size: 15px;
  color: #282c34!important;
 
}

.singleblog{
  margin: 50px;
}

